{% extends "base.html" %}

{% load static %}

{% block title %}Verify Email{% endblock %}

{% block navbar %}{% endblock %}

{% block content %}
<section class="container d-flex flex-column">
    <div class="row align-items-center justify-content-center g-0 min-vh-100">
        <div class="col-lg-5 col-md-8 py-8 py-xl-0">
            <!-- Card -->
            <div class="card shadow">
                <!-- Card body -->
                <div class="card-body p-6">
                    <div class="mb-4">
                        <h1 class="mb-1 fw-bold">Please verify your email.</h1>
                        <p> We've emailed you a verification link. You should receive the email
                            shortly!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}