{% extends "base.html" %}

{% load static %}

{% block title %}Login{% endblock %}

{% block content %}
<main class="w-full max-w-md mx-auto my-10 p-6">
    <div class="mt-7 border border-primary rounded-xl shadow-sm">
      <div class="p-4 sm:p-7">
        <div class="text-center">
          <h1 class="block text-2xl font-bold">Check your inbox.</h1>
          <p class="mt-2 text-sm">We've emailed you a login link. You should receive the email shortly!</p>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
