{% extends 'base.html' %}

{% load static %}

{% block title %}
  Pricing
{% endblock %}

{% block content %}
  <section class="pt-8 pt-md-11 pb-10 pb-md-15 bg-primary">
    <!-- Shape -->
    <div class="shape shape-blur-3 text-white">
      <svg viewBox="0 0 1738 487" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 0h1420.92s713.43 457.505 0 485.868C707.502 514.231 0 0 0 0z" fill="url(#paint0_linear)" />
        <defs>
          <linearGradient id="paint0_linear" x1="0" y1="0" x2="1049.98" y2="912.68" gradientUnits="userSpaceOnUse">
            <stop stop-color="currentColor" stop-opacity=".075" />
            <stop offset="1" stop-color="currentColor" stop-opacity="0" />
          </linearGradient>
        </defs>
      </svg>
    </div>

    <!-- Content -->
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8 text-center">
          <!-- Heading -->
          <h1 class="display-2 text-white">Ready SaaS Demo Pricing Page</h1>

          <!-- Text -->
          <p class="lead text-white text-opacity-80 mb-6 mb-md-8">Test out both Stripe and Paypal checkout flows</p>
          <p class="lead text-white text-opacity-80 mb-6 mb-md-8">Both payment gateways are fully supported and you can choose either when setting up your SaaS</p>
        </div>
      </div> <!-- / .row -->
    </div> <!-- / .container -->
  </section>

  <!-- SHAPE -->
  <div class="position-relative">
    <div class="shape shape-bottom shape-fluid-x text-light">
      <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor" />
      </svg>
    </div>
  </div>

  <!-- PRICING -->
  <section class="mt-n8 mt-md-n14">
    <div class="container">
      <div class="row gx-4">
        <div class="col-12 col-md-4">
          <!-- Card -->
          <div class="card shadow-lg mb-6 mb-md-0">
            <div class="card-body">
              <!-- Preheading -->
              <div class="text-center mb-3">
                <span class="badge rounded-pill text-bg-primary-subtle"><span class="h6 text-uppercase">{{ plan_tier_1.name }}</span></span>
              </div>

              <!-- Price -->
              <div class="d-flex justify-content-center">
                <span class="h2 mb-0 mt-2">$</span>
                <span class="price display-2 mb-0" data-annual="0" data-monthly="0">{{ plan_tier_1.price|stringformat:'d' }}</span>
                <span class="h2 align-self-end mb-1">/mo</span>
              </div>

              <!-- Text -->
              <p class="text-center text-body-secondary mb-5"></p>

              <!-- List -->
              <div class="d-flex">
                <!-- Badge -->
                <div class="badge badge-rounded-circle text-bg-success-subtle mt-1 me-4">
                  <i class="fe fe-check"></i>
                </div>

                <!-- Text -->
                <p>Core Features</p>
              </div>
              <div class="d-flex">
                <!-- Badge -->
                <div class="badge badge-rounded-circle text-bg-success-subtle mt-1 me-4">
                  <i class="fe fe-check"></i>
                </div>

                <!-- Text -->
                <p class="mb-5">Limited components</p>
              </div>

              <!-- Button -->
              {% if plan_tier_1.payment_gateway == 'PAYPAL' %}
                <a href="{% url 'checkout' plan_id=plan_tier_1.id %}" class="btn w-100 btn-primary-subtle">PAYPAL CHECKOUT <i class="fe fe-arrow-right ms-3"></i></a>
              {% else %}
                <form action="{% url 'stripe_checkout_session_create' %}" method="POST">
                  {% csrf_token %}
                  <input type="hidden" name="priceId" value="{{ plan_tier_1.external_plan_id }}" />
                  <button type="submit" class="btn w-100 btn-primary">STRIPE CHECKOUT <i class="fe fe-arrow-right ms-3"></i></button>
                </form>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <!-- Card -->
          <div class="card shadow-lg mb-6 mb-md-0">
            <div class="card-body">
              <!-- Preheading -->
              <div class="text-center mb-3">
                <span class="badge rounded-pill text-bg-primary-subtle"><span class="h6 text-uppercase">{{ plan_tier_2.name }}</span></span>
              </div>

              <!-- Price -->
              <div class="d-flex justify-content-center">
                <span class="h2 mb-0 mt-2">$</span>
                <span class="price display-2 mb-0" data-annual="29" data-monthly="49">{{ plan_tier_2.price|stringformat:'d' }}</span>
                <span class="h2 align-self-end mb-1">/mo</span>
              </div>

              <!-- Text -->
              <p class="text-center text-body-secondary mb-5"></p>

              <!-- List -->
              <div class="d-flex">
                <!-- Badge -->
                <div class="badge badge-rounded-circle text-bg-success-subtle mt-1 me-4">
                  <i class="fe fe-check"></i>
                </div>

                <!-- Text -->
                <p>More features</p>
              </div>
              <div class="d-flex">
                <!-- Badge -->
                <div class="badge badge-rounded-circle text-bg-success-subtle mt-1 me-4">
                  <i class="fe fe-check"></i>
                </div>

                <!-- Text -->
                <p>More components</p>
              </div>
              <div class="d-flex">
                <!-- Badge -->
                <div class="badge badge-rounded-circle text-bg-success-subtle mt-1 me-4">
                  <i class="fe fe-check"></i>
                </div>

                <!-- Text -->
                <p>Speed</p>
              </div>
              <div class="d-flex">
                <!-- Badge -->
                <div class="badge badge-rounded-circle text-bg-success-subtle mt-1 me-4">
                  <i class="fe fe-check"></i>
                </div>

                <!-- Text -->
                <p>Support</p>
              </div>

              <!-- Button -->
              {% if plan_tier_2.payment_gateway == 'PAYPAL' %}
                <a href="{% url 'checkout' plan_id=plan_tier_2.id %}" class="btn w-100 btn-primary">PAYPAL CHECKOUT <i class="fe fe-arrow-right ms-3"></i></a>
              {% else %}
                <form action="{% url 'stripe_checkout_session_create' %}" method="POST">
                  {% csrf_token %}
                  <input type="hidden" name="priceId" value="{{ plan_tier_2.external_plan_id }}" />
                  <button type="submit" class="btn w-100 btn-primary">STRIPE CHECKOUT <i class="fe fe-arrow-right ms-3"></i></button>
                </form>
                <p>Use the following card number at checkout to test 4242 4242 4242 4242</p>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <!-- Card -->
          <div class="card shadow-lg mb-md-0">
            <div class="card-body">
              <!-- Preheading -->
              <div class="text-center mb-3">
                <span class="badge rounded-pill text-bg-primary-subtle"><span class="h6 text-uppercase">{{ plan_tier_3.name }}</span></span>
              </div>

              <!-- Price -->
              <div class="d-flex justify-content-center">
                <span class="h2 mb-0 mt-2">$</span>
                <span class="price display-2 mb-0" data-annual="49" data-monthly="69">{{ plan_tier_3.price|stringformat:'d' }}</span>
                <span class="h2 align-self-end mb-1">/mo</span>
              </div>

              <!-- Text -->
              <p class="text-center text-body-secondary mb-5"></p>

              <!-- List -->
              <div class="d-flex">
                <!-- Badge -->
                <div class="badge badge-rounded-circle text-bg-success-subtle mt-1 me-4">
                  <i class="fe fe-check"></i>
                </div>

                <!-- Text -->
                <p>Even more features</p>
              </div>
              <div class="d-flex">
                <!-- Badge -->
                <div class="badge badge-rounded-circle text-bg-success-subtle mt-1 me-4">
                  <i class="fe fe-check"></i>
                </div>

                <!-- Text -->
                <p>Even more components</p>
              </div>
              <div class="d-flex">
                <!-- Badge -->
                <div class="badge badge-rounded-circle text-bg-success-subtle mt-1 me-4">
                  <i class="fe fe-check"></i>
                </div>

                <!-- Text -->
                <p>Faster speed</p>
              </div>
              <div class="d-flex">
                <!-- Badge -->
                <div class="badge badge-rounded-circle text-bg-success-subtle mt-1 me-4">
                  <i class="fe fe-check"></i>
                </div>

                <!-- Text -->
                <p>Better support</p>
              </div>
              <div class="d-flex">
                <!-- Badge -->
                <div class="badge badge-rounded-circle text-bg-success-subtle mt-1 me-4">
                  <i class="fe fe-check"></i>
                </div>

                <!-- Text -->
                <p>Guaranteed 100% uptime</p>
              </div>
              <div class="d-flex">
                <!-- Badge -->
                <div class="badge badge-rounded-circle text-bg-success-subtle mt-1 me-4">
                  <i class="fe fe-check"></i>
                </div>

                <!-- Text -->
                <p class="mb-5">Unlimited users</p>
              </div>

              <!-- Button -->
              {% if plan_tier_3.payment_gateway == 'PAYPAL' %}
                <a href="{% url 'checkout' plan_id=plan_tier_3.id %}" class="btn w-100 btn-primary-subtle">PAYPAL CHECKOUT <i class="fe fe-arrow-right ms-3"></i></a>
              {% else %}
                <form action="{% url 'stripe_checkout_session_create' %}" method="POST">
                  {% csrf_token %}
                  <input type="hidden" name="priceId" value="{{ plan_tier_3.external_plan_id }}" />
                  <button type="submit" class="btn w-100 btn-primary">STRIPE CHECKOUT <i class="fe fe-arrow-right ms-3"></i></button>
                </form>
              {% endif %}
            </div>
          </div>
        </div>
      </div> <!-- / .row -->
    </div> <!-- / .container -->
  </section>
  <section class="py-8 py-md-11">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8 text-center">
          <!-- Badge -->
          <span class="badge rounded-pill text-bg-primary-desat-subtle mb-3"><span class="h6 text-uppercase">Enterprise</span></span>

          <!-- Heading -->
          <h2 class="mb-8">Business grade quality <span class="fw-bold text-primary-desat">for all plans</span>.</h2>

        </div>
      </div> <!-- / .row -->
      <div class="row">
        <div class="col-12 col-md-4 text-center">
          <!-- Icon -->
          <div class="icon text-primary mb-3">
            <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <g fill="none" fill-rule="evenodd">
                <path d="M0 0h24v24H0z" />
                <path d="M7 3h10a4 4 0 110 8H7a4 4 0 110-8zm0 6a2 2 0 100-4 2 2 0 000 4z" fill="#335EEA" />
                <path d="M7 13h10a4 4 0 110 8H7a4 4 0 110-8zm10 6a2 2 0 100-4 2 2 0 000 4z" fill="#335EEA" opacity=".3" />
              </g>
            </svg>
          </div>

          <!-- Heading -->
          <h3>Built for developers</h3>

          <!-- Text -->
          <p class="text-body-secondary mb-6 mb-md-0">Ready SaaS is built to make your life easier. Variables, build tooling, documentation, and reusable components.</p>
        </div>
        <div class="col-12 col-md-4 text-center">
          <!-- Icon -->
          <div class="icon text-primary mb-3">
            <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <g fill="none" fill-rule="evenodd">
                <path d="M0 0h24v24H0z" />
                <path d="M5.5 4h4A1.5 1.5 0 0111 5.5v1A1.5 1.5 0 019.5 8h-4A1.5 1.5 0 014 6.5v-1A1.5 1.5 0 015.5 4zm9 12h4a1.5 1.5 0 011.5 1.5v1a1.5 1.5 0 01-1.5 1.5h-4a1.5 1.5 0 01-1.5-1.5v-1a1.5 1.5 0 011.5-1.5z" fill="#335EEA" />
                <path d="M5.5 10h4a1.5 1.5 0 011.5 1.5v7A1.5 1.5 0 019.5 20h-4A1.5 1.5 0 014 18.5v-7A1.5 1.5 0 015.5 10zm9-6h4A1.5 1.5 0 0120 5.5v7a1.5 1.5 0 01-1.5 1.5h-4a1.5 1.5 0 01-1.5-1.5v-7A1.5 1.5 0 0114.5 4z" fill="#335EEA" opacity=".3" />
              </g>
            </svg>
          </div>

          <!-- Heading -->
          <h3>Designed to be modern</h3>

          <!-- Text -->
          <p class="text-body-secondary mb-6 mb-md-0">Designed with the latest design trends in mind. Ready SaaS feels modern, minimal, and beautiful.</p>
        </div>
        <div class="col-12 col-md-4 text-center">
          <!-- Icon -->
          <div class="icon text-primary mb-3">
            <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <g fill="none" fill-rule="evenodd">
                <path d="M0 0h24v24H0z" />
                <path d="M17.272 8.685a1 1 0 111.456-1.37l4 4.25a1 1 0 010 1.37l-4 4.25a1 1 0 01-1.456-1.37l3.355-3.565-3.355-3.565zm-10.544 0L3.373 12.25l3.355 3.565a1 1 0 01-1.456 1.37l-4-4.25a1 1 0 010-1.37l4-4.25a1 1 0 011.456 1.37z" fill="#335EEA" />
                <rect fill="#335EEA" opacity=".3" transform="rotate(15 12 12)" x="11" y="4" width="2" height="16" rx="1" />
              </g>
            </svg>
          </div>

          <!-- Heading -->
          <h3>Documentation for everything</h3>

          <!-- Text -->
          <p class="text-body-secondary mb-0">We've written extensive documentation for components and tools, so you never have to reverse engineer anything.</p>
        </div>
      </div> <!-- / .row -->
    </div> <!-- / .container -->
  </section>
{% endblock %}
