{% extends 'base.html' %}

{% load static %}

{% block title %}
  Pricing
{% endblock %}

{% block content %}
    <!-- Pricing -->
    <div id="pricing" class="max-w-[85rem] mt-20 px-4 py-10 sm:px-6 lg:px-8 lg:py-14 md:w-3/4 mx-auto">
      <!-- Title -->
      <div class="max-w-2xl mx-auto text-center mb-10 lg:mb-14">
        <h2 class="font-black tracking-tighter text-3xl lg:text-5xl">Pricing</h2>
        <p class="text-xl mt-5">Whatever your status, our offers evolve according to your needs.</p>
      </div>
      <!-- End Title -->
  
      <!-- Grid -->
      <div class="mt-12 grid sm:grid-cols-1 md:grid-cols-3 gap-6 md:items-center">
        <!-- Card -->
        <div class="flex flex-col border border-gray-200 text-center rounded-xl p-8 dark:border-gray-700">
          <h4 class="font-medium text-lg">{{ plan_tier_1.display_name }}</h4>
          <span class="mt-5 font-bold text-5xl">
            <span class="font-bold text-2xl -me-2">$</span>
            {{ plan_tier_1.price|stringformat:'d' }}
          </span>
          <p class="mt-2 text-sm">Convincing subtitle</p>
  
          <ul class="mt-7 space-y-2.5 text-sm">
            <li class="flex space-x-2">
              <svg class="flex-shrink-0 mt-0.5 size-4 text-primary" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <polyline points="20 6 9 17 4 12" />
              </svg>
              <span>Feature 1</span>
            </li>
  
            <li class="flex space-x-2">
              <svg class="flex-shrink-0 mt-0.5 size-4 text-primary" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <polyline points="20 6 9 17 4 12" />
              </svg>
              <span>Feature 2</span>
            </li>
  
            <li class="flex space-x-2">
              <svg class="flex-shrink-0 mt-0.5 size-4 text-primary" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <polyline points="20 6 9 17 4 12" />
              </svg>
              <span>Feature 3</span>
            </li>
          </ul>
  
          {% if plan_tier_1.payment_gateway == 'PAYPAL' %}
            <a href="{% url 'checkout' plan_id=plan_tier_1.id %}" class="mt-5 py-3 px-4 btn btn-outline btn-primary">Buy plan</a>
          {% else %}
            <form action="{% url 'stripe_checkout_session_create' %}" method="POST">
              {% csrf_token %}
              <input type="hidden" name="priceId" value="{{ plan_tier_1.external_plan_id }}" />
              <button type="submit" class="w-full mt-5 py-3 px-4 btn btn-outline btn-primary">Buy plan</button>
            </form>
          {% endif %}
        </div>
        <!-- End Card -->
  
        <!-- Card -->
        <div class="flex flex-col border-2 border-primary text-center shadow-xl rounded-xl p-8">
          <p class="mb-3">
            <span class="badge badge-primary badge-outline">Most popular</span>
          </p>
          <h4 class="font-medium text-lg">{{ plan_tier_2.display_name }}</h4>
          <span class="mt-5 font-bold text-5xl">
            <span class="font-bold text-2xl -me-2">$</span>
            {{ plan_tier_2.price|stringformat:'d' }}
          </span>
          <p class="mt-2 text-sm">Convincing subtitle</p>
  
          <ul class="mt-7 space-y-2.5 text-sm">
            <li class="flex space-x-2">
              <svg class="flex-shrink-0 mt-0.5 size-4 text-primary" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <polyline points="20 6 9 17 4 12" />
              </svg>
              <span>2 users</span>
            </li>
  
            <li class="flex space-x-2">
              <svg class="flex-shrink-0 mt-0.5 size-4 text-primary" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <polyline points="20 6 9 17 4 12" />
              </svg>
              <span>Plan features</span>
            </li>
  
            <li class="flex space-x-2">
              <svg class="flex-shrink-0 mt-0.5 size-4 text-primary" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <polyline points="20 6 9 17 4 12" />
              </svg>
              <span>Product support</span>
            </li>
          </ul>
  
          {% if plan_tier_2.payment_gateway == 'PAYPAL' %}
            <a href="{% url 'checkout' plan_id=plan_tier_2.id %}" class="mt-5 py-3 px-4 btn btn-primary">Buy plan</a>
          {% else %}
            <form action="{% url 'stripe_checkout_session_create' %}" method="POST">
              {% csrf_token %}
              <input type="hidden" name="priceId" value="{{ plan_tier_2.external_plan_id }}" />
              <button type="submit" class="w-full mt-5 py-3 px-4 btn btn-primary">Buy plan</button>
            </form>
          {% endif %}
        </div>
        <!-- End Card -->
  
        <!-- Card -->
        <div class="flex flex-col border border-gray-200 text-center rounded-xl p-8 dark:border-gray-700">
          <h4 class="font-medium text-lg">{{ plan_tier_3.display_name }}</h4>
          <span class="mt-5 font-bold text-5xl">
            <span class="font-bold text-2xl -me-2">$</span>
            {{ plan_tier_3.price|stringformat:'d' }}
          </span>
          <p class="mt-2 text-sm">Convincing subtitle</p>
  
          <ul class="mt-7 space-y-2.5 text-sm">
            <li class="flex space-x-2">
              <svg class="flex-shrink-0 mt-0.5 size-4 text-primary" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <polyline points="20 6 9 17 4 12" />
              </svg>
              <span>5 users</span>
            </li>
  
            <li class="flex space-x-2">
              <svg class="flex-shrink-0 mt-0.5 size-4 text-primary" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <polyline points="20 6 9 17 4 12" />
              </svg>
              <span>Plan features</span>
            </li>
  
            <li class="flex space-x-2">
              <svg class="flex-shrink-0 mt-0.5 size-4 text-primary" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <polyline points="20 6 9 17 4 12" />
              </svg>
              <span>Product support</span>
            </li>
          </ul>
  
          {% if plan_tier_3.payment_gateway == 'PAYPAL' %}
            <a href="{% url 'checkout' plan_id=plan_tier_3.id %}" class="mt-5 py-3 px-4 btn btn-outline btn-primary">Buy plan</a>
          {% else %}
            <form action="{% url 'stripe_checkout_session_create' %}" method="POST">
              {% csrf_token %}
              <input type="hidden" name="priceId" value="{{ plan_tier_3.external_plan_id }}" />
              <button type="submit" class="w-full mt-5 py-3 px-4 btn btn-outline btn-primary">Buy plan</button>
            </form>
          {% endif %}
        </div>
        <!-- End Card -->
      </div>
      <!-- End Grid -->
    </div>
    <!-- End Pricing -->
  
    <!-- FAQ -->
    <div class="max-w-[85rem] px-4 my-40 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
      <!-- Title -->
      <div class="max-w-2xl mx-auto mb-10 lg:mb-14">
        <h2 class="font-black tracking-tighter text-3xl lg:text-5xl">Your questions, answered</h2>
      </div>
      <!-- End Title -->
  
      <div class="max-w-2xl mx-auto divide-y">
        <div class="py-8 first:pt-0 last:pb-0">
          <div class="flex gap-x-5">
            <svg class="flex-shrink-0 mt-1 size-6" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <circle cx="12" cy="12" r="10" />
              <path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3" />
              <path d="M12 17h.01" />
            </svg>
  
            <div>
              <h3 class="md:text-lg font-semibold">Common Question?</h3>
              <p class="mt-1">Answer the question succinctly, providing clarity and reassurance.</p>
            </div>
          </div>
        </div>
  
        <div class="py-8 first:pt-0 last:pb-0">
          <div class="flex gap-x-5">
            <svg class="flex-shrink-0 mt-1 size-6" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <circle cx="12" cy="12" r="10" />
              <path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3" />
              <path d="M12 17h.01" />
            </svg>
  
            <div>
              <h3 class="md:text-lg font-semibold">Another Question?</h3>
              <p class="mt-1">Answer the question succinctly, providing clarity and reassurance.</p>
            </div>
          </div>
        </div>
  
        <div class="py-8 first:pt-0 last:pb-0">
          <div class="flex gap-x-5">
            <svg class="flex-shrink-0 mt-1 size-6" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <circle cx="12" cy="12" r="10" />
              <path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3" />
              <path d="M12 17h.01" />
            </svg>
  
            <div>
              <h3 class="md:text-lg font-semibold">Another Question?</h3>
              <p class="mt-1">Answer the question succinctly, providing clarity and reassurance.</p>
            </div>
          </div>
        </div>
  
        <div class="py-8 first:pt-0 last:pb-0">
          <div class="flex gap-x-5">
            <svg class="flex-shrink-0 mt-1 size-6" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <circle cx="12" cy="12" r="10" />
              <path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3" />
              <path d="M12 17h.01" />
            </svg>
  
            <div>
              <h3 class="md:text-lg font-semibold">Another Question?</h3>
              <p class="mt-1">Answer the question succinctly, providing clarity and reassurance.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End FAQ -->
{% endblock %}
