{% extends 'base.html' %}

{% load static %}

{% block title %}
  Thank you
{% endblock %}

{% block content %}
  <section class="py-8 py-md-11">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8 text-center">
          <!-- Headin -->
          <h1 class="display-2">Thank you!</h1>

          <!-- Text -->
          <p class="lead text-body-secondary mb-7 mb-md-9">Our focus is in making your life easier.</p>
          <a href={% url 'dashboard' %} type="button" class="btn btn-primary">Let's get started!</a>
        </div>
      </div> <!-- / .row -->
    </div> <!-- / .container -->
  </section>
{% endblock %}
