{% extends 'sidebar_base.html' %}

{% load static %}

{% block title %}
  Subscription
{% endblock %}

{% block page_content %}
<header>
  <h1 class="block text-2xl font-bold sm:text-3xl">Manage Subscription</h1>
</header>
<div>
  {% if subscription %}
  <div class="overflow-x-auto mt-5">
    <table class="table">
      <tbody>
        <tr>
          <th>Status</th>
          <td>{{ subscription.status }}</td>
        </tr>
        <tr>
          <th>Plan</th>
          <td>{{ subscription.plan.name }}</td>
        </tr>
        <tr>
          <th>Started On</th>
          <td>{{ subscription.start_date }}</td>
        </tr>
        <tr>
          <th>Price</th>
          <td>${{ subscription.plan.price|stringformat:'d' }}</td>
        </tr>
        <tr>
          <th>Next Billing Date</th>
          <td>{{ subscription.end_date }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  {% else %}
    <div class="mt-5">
      <p class="mt-2 text-lg">You don't have any subscription yet.</p>
      <a href="{% url 'pricing' %}" class="mt-2 btn btn-sm btn-primary">Upgrade Now</a>
    </div>
  {% endif %}
  </div>
{% endblock %}
