amqp==5.3.1
asgiref==3.8.1
billiard==4.2.1
celery==5.3.4
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
cron-descriptor==1.4.5
Django==4.2.5
django-autoslug==1.9.9
django-browser-reload==1.12.1
django-celery-beat==2.5.0
django-celery-results==2.5.1
django-environ==0.11.2
django-extensions==3.2.3
django-sesame==3.2.1
django-timezone-field==7.1
idna==3.10
kombu==5.5.2
Markdown==3.5.2
prompt_toolkit==3.0.50
psycopg==3.1.15
psycopg-binary==3.1.15
python-crontab==3.2.0
python-dateutil==2.9.0.post0
redis==5.0.1
requests==2.32.3
six==1.17.0
sqlparse==0.5.3
stripe==7.10.0
typing_extensions==4.13.1
tzdata==2025.2
urllib3==2.3.0
vine==5.1.0
wcwidth==0.2.13
whitenoise==6.5.0
