{% extends "base.html" %}

{% load static %}

{% block title %}Enter new password{% endblock %}

{% block content %}

{% if validlink %}
<section class="container d-flex flex-column">
  <div class="row align-items-center justify-content-center g-0 min-vh-100">
      <div class="col-lg-5 col-md-8 py-8 py-xl-0">
          <!-- Card -->
          <div class="card shadow">
              <!-- Card body -->
              <div class="card-body p-6">
                  <div class="mb-4">
                      <a><img src="{% static 'ready_saas/images/brand/logo/logo-icon.svg' %}" class="mb-4"
                              alt="logo-icon" /></a>
                      <h1 class="mb-1 fw-bold">Set a new password!</h1>
                  </div>
                  <!-- Form -->
                  <form method="post">
                      {% csrf_token %}
                      {{ form.as_p }}
                      <!-- Button -->
                      <div class="mb-3 d-grid">
                          <button type="submit" class="btn btn-primary">
                              done
                          </button>
                      </div>
                      <span>Return to <a href="{% url 'login' %}">sign in</a></span>
                  </form>
              </div>
          </div>
      </div>
  </div>
</section>

{% else %}

<section class="container d-flex flex-column">
  <div class="row align-items-center justify-content-center g-0 min-vh-100">
      <div class="col-lg-5 col-md-8 py-8 py-xl-0">
          <!-- Card -->
          <div class="card shadow">
              <!-- Card body -->
              <div class="card-body p-6">
                  <div class="mb-4">
                      <a><img src="{% static 'ready_saas/images/brand/logo/logo-icon.svg' %}" class="mb-4"
                              alt="logo-icon" /></a>
                      <h1 class="mb-1 fw-bold">Invalid Link!</h1>
                      <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
                  </div>
                  <span>Return to <a href="{% url 'login' %}">sign in</a></span>
              </div>
          </div>
      </div>
  </div>
</section>

{% endif %}
{% endblock %}