{% extends 'base.html' %}

{% load static %}

{% block title %}Forgot Your Password{% endblock %}

{% block navbar %}{% endblock %}

{% block content %}
<section class="container d-flex flex-column">
    <div class="row align-items-center justify-content-center g-0 min-vh-100">
        <div class="col-lg-5 col-md-8 py-8 py-xl-0">
            <!-- Card -->
            <div class="card shadow">
                <!-- Card body -->
                <div class="card-body p-6">
                    <div class="mb-4">
                        <a><img src="{% static 'ready_saas/images/brand/logo/logo-icon.svg' %}" class="mb-4"
                                alt="logo-icon" /></a>
                        <h1 class="mb-1 fw-bold">Forgot Password</h1>
                        <p>We'll email you instructions</p>
                    </div>
                    <!-- Form -->
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <!-- Button -->
                        <div class="mb-3 d-grid">
                            <button type="submit" class="btn btn-primary">
                                Send Resest Link
                            </button>
                        </div>
                        <span>Return to <a href="{% url 'login' %}">sign in</a></span>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}