{% extends "base.html" %}

{% load static %}

{% block title %}Sign Up{% endblock %}

{% block navbar %}{% endblock %}

{% block content %}
<main>
    <section class="container d-flex flex-column">
        <div class="row align-items-center justify-content-center g-0 min-vh-100">
            <div class="col-lg-5 col-md-8 py-8 py-xl-0">
                <!-- Card -->
                <div class="card shadow">
                    <!-- Card body -->
                    <div class="card-body p-6">
                        <div class="mb-4">
                            <h1 class="mb-1 fw-bold">Sign up</h1>
                            <span>Already have an account?
                                <a href="{% url 'login' %}" class="ms-1">Sign in</a></span>
                        </div>
                        <!-- Form -->
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <div>
                                <!-- Button -->
                                <div class="d-grid">
                                    <button type="submit" class="btn btn-primary">
                                        Create Free Account
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}