{% extends 'base.html' %}

{% load static %}

{% block title %}
  Not Found
{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}
  <main>
    <section class="section-border border-primary">
      <div class="container d-flex flex-column">
        <div class="row align-items-center justify-content-center gx-0 min-vh-100">
          <div class="col-8 col-md-6 col-lg-7 offset-md-1 order-md-2 mt-auto mt-md-0 pt-8 pb-4 py-md-11">
            <!-- Image -->
            <img src="{% static 'ready_saas/img/illustrations/illustration-1-dark.png' %}" alt="" class="img-fluid" />
          </div>
          <div class="col-12 col-md-5 col-lg-4 order-md-1 mb-auto mb-md-0 pb-8 py-md-11">
            <!-- Heading -->
            <h1 class="display-3 fw-bold text-center">Uh Oh. 500</h1>

            <!-- Text -->
            <p class="mb-5 text-center text-body-secondary">
              Oops! Something went wrong on our end. Please try again later. If the issue persists, please <a href="#" class="btn-link">Contact us</a>
            </p>

            <!-- Link -->
            <div class="text-center">
              <a href="{% url 'dashboard' %}" class="btn btn-primary me-2">Back to Dashboard</a>
            </div>
          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>
  </main>
{% endblock %}
