{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    {% if not is_debug %}
      {% block ga %}
        {% include 'snippets/google_analytics.html' %}
      {% endblock %}
    {% endif %}
    <title>
      {% block title %}
        Ready SaaS Demo
      {% endblock %}
    </title>
    <link href="{% static 'ready_saas/css/libs.bundle.css' %}" rel="stylesheet" />
    <link href="{% static 'ready_saas/css/theme.bundle.css' %}" rel="stylesheet" />
  </head>

  <body>
    {% block navbar %}
      <nav class="navbar navbar-expand-lg bg-body-primary">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'landing' %}"><img src="{% static 'ready_saas/images/logo.png' %}" class="navbar-brand-img" alt="" /></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"><i class="fe fe-x"></i></button>
            <ul class="navbar-nav ms-auto">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarLandings" data-bs-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">Landings</a>
                <div class="dropdown-menu dropdown-menu-lg p-0" aria-labelledby="navbarLandings">
                  <div class="row gx-0">
                    <div class="col-12 col-lg-6">
                      <div class="dropdown-img-start">
                        <!-- Heading -->
                        <h4 class="fw-bold text-white mb-0">Like what you see?</h4>

                        <!-- Button -->
                        <a href="https://www.readysaas.app" class="btn btn-sm btn-white shadow-dark fonFt-size-sm">Buy Ready SaaS</a>
                      </div>
                    </div>
                    <div class="col-12 col-lg-6">
                      <div class="dropdown-body">
                        <div class="row gx-0">
                          <div class="col-6">
                            <a class="dropdown-item" href="{% url 'landing' %}">Main</a>
                            <a class="dropdown-item" href="{% url 'join_waitlist' %}">Waitlist</a>
                          </div>
                        </div> <!-- / .row -->
                      </div>
                    </div>
                  </div> <!-- / .row -->
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarPages" data-bs-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">Authentication</a>
                <div class="dropdown-menu dropdown-menu-sm" aria-labelledby="navbarPages">
                  <div class="row gx-0">
                    <div class="col-12">
                      <!-- List -->
                      <a class="dropdown-item" href="{% url 'login' %}">Login</a>
                      <a class="dropdown-item" href="{% url 'email_login' %}">Magic link login</a>
                      <a class="dropdown-item" href="{% url 'signup' %}">Signup</a>
                      <a class="dropdown-item" href="{% url 'password_reset' %}">Forgot Password</a>
                    </div>
                  </div>
                </div> <!-- / .row -->
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarPages" data-bs-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">Payments</a>
                <div class="dropdown-menu dropdown-menu-sm" aria-labelledby="navbarPages">
                  <div class="row gx-0">
                    <div class="col-12">
                      <!-- List -->
                      <a class="dropdown-item" href="{% url 'pricing' %}">Pricing</a>
                    </div>
                  </div>
                </div> <!-- / .row -->
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarPages" data-bs-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">App Pages</a>
                <div class="dropdown-menu dropdown-menu-sm" aria-labelledby="navbarPages">
                  <div class="row gx-0">
                    <div class="col-12">
                      <!-- List -->
                      <a class="dropdown-item" href="{% url 'dashboard' %}">Dashboard</a>
                      <a class="dropdown-item" href="{% url 'user_subscription' %}">Subscriptions</a>
                    </div>
                  </div>
                </div> <!-- / .row -->
              </li>
            </ul>
            <form class="d-flex navbar-nav ms-auto" role="search">
              {% if user.is_authenticated %}
                <a href="{% url 'logout' %}" class="navbar-btn btn btn-xs mb-2 btn-outline-primary ms-auto">Log Out</a>
              {% else %}
                <a href="{% url 'login' %}" class="navbar-btn btn btn-xs mb-2 btn-outline-primary shadow-sm me-1 ms-auto">Sign In</a>
                <a href="{% url 'signup' %}" class="navbar-btn btn btn-xs mb-2 btn-primary ms-auto">Sign Up</a>
              {% endif %}
            </form>
          </div>
        </div>
      </nav>
    {% endblock %}
    <main>
      {% block content %}

      {% endblock %}
    </main>

    <script src="{% static 'ready_saas/js/theme.bundle.js' %}"></script>
    <script src="{% static 'ready_saas/js/vendor.bundle.js' %}"></script>
  </body>
</html>
